streamlit==1.36.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
mediapipe==0.10.14
streamlit-webrtc==0.47.7
Pillow==10.4.0
av==12.3.0
plotly==5.22.0
scikit-learn==1.4.2
pandas==2.2.2
onnxruntime==1.17.3